**/__pycache__/
**/build/
*.pyc
logs.txt*
**/*.log
*.egg-info/
dist/
**/*.avi
# **/*.mp4
**/*.trc
**/*.sto
**/*.c3d
**/*.json

**/Calib_qualisys.toml
**/pose-3d/
**/pose/
**/pose-sync/
**/pose-associated/
**/kinematics/
