# This workflow will install Python dependencies, run tests and lint on several OS with a several versions of Python
# See: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: Build on Win-MacOS-Ubuntu with Python 3.9-3.11

on:
  push:
    branches: [ "main" ]
    paths-ignore:
      - 'README.md'
      - 'Content/**'
  pull_request:
    branches: [ "main" ]

permissions:
  contents: read

jobs:
  build:
    runs-on: ${{ matrix.os }}

    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        python-version: [3.9, "3.10", "3.11"]
        include:
          - os: ubuntu-latest
            path: ~/.cache/pip
          - os: macos-latest
            path: ~/Library/Caches/pip
          - os: windows-latest
            path: ~\AppData\Local\pip\Cache

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install Miniconda
        uses: conda-incubator/setup-miniconda@v3
        with:
          auto-update-conda: true
          python-version: ${{ matrix.python-version }}
          activate-environment: pose2sim

      - name: Install OpenSim with conda
        run: |
          conda install -n pose2sim -c conda-forge -c defaults pip
          conda install -n pose2sim opensim-org::opensim -y
          
      - name: Install pip dependencies
        run: |
          conda run -n pose2sim python -m pip install --upgrade pip
          conda run -n pose2sim python -m pip install flake8 pytest
          conda run -n pose2sim python -m pip install git+https://github.com/${{ github.repository }}.git@${{ github.sha }}
      
      - name: Lint with flake8
        run: |
          # stop the build if there are Python syntax errors or undefined names
          conda run -n pose2sim flake8 . --count --select=E9,F63,F7,F82 --show-source --statistics
          # exit-zero treats all errors as warnings. The GitHub editor is 127 chars wide
          conda run -n pose2sim flake8 . --count --exit-zero --max-complexity=10 --max-line-length=127 --statistics
      
      - name: Test with pytest
        env: 
          PYTHONIOENCODING: utf-8
        run: |
          cd Pose2Sim/Utilities
          conda run -n pose2sim pytest -v tests.py --capture=sys
